@model LoginViewModel

<html>
<body>
    <h1>Login</h1>

    <form asp-action="Login">
        <label asp-for="LoginName"></label>
        <br />
        <input asp-for="LoginName"/>
        <span asp-validation-for="LoginName"></span>
        <br />
        <label asp-for="Password"></label>
        <br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <input type="submit" value="Log in"/>
    </form>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
