@model ClassViewModel
<html>
<body>
    <div>
        <div>
            <h2>@Model.Name</h2>
            <b>@Model.Name</b>
            <br />
            <br />
            <label asp-for="Student"></label>
            <p>@Model.Student</p>
            <br />
            <br />
            
        </div>
        <br />
        <div>
            @*//comment*@
            <a asp-action="CreateClass">Skapa Klassrum</a>

        </div>
    </div>
</body>
</html>
