@model InstructorViewModel
<html>
<body>
    <div>
        <div>
            <h2>@Model.FirstName</h2>
            <b>@Model.FirstName</b>
            <br />
            <br />
            <label asp-for="LastName"></label>
            <p>@Model.LastName</p>
            <br />
            <br />
            <label asp-for="Course"></label>
            <p>@Model.Course</p>
            <br />
            <br />
        </div>
        <br />
        <div>
          
            <a asp-action="CreateInstructor">Skapa Lärare</a>

        </div>
    </div>
</body>
</html>
